.Footer {
  background: #1f1f1f;

  .w-1200 {
    padding: 0 25px;
  }

  ul.footer-list-1 li {
    cursor: pointer;
    color: #ccc;

    &::before {
      color: #616161;
      margin-right: 10px;
      content: "\25b6";
    }

    &:hover {
      color: white;
      text-decoration: none;

      &::before {
        color: white;
      }
    }
  }

  /*合作伙伴精灵图*/
  .footer-list-img {
    text-align: center;

    strong {
      color: #fff;
      font-size: 18px;
    }


    i {
      display: block;
      width: 35px;
      height: 35px;
      background: url(~@/assets/img/icon/social-icons.png) 100% no-repeat;

      &:first-of-type {
        background-position: 0px 0px;
      }

      &:nth-of-type(2) {
        background-position: -35px 0px;
      }

      &:nth-of-type(3) {
        background-position: -70px 0px;
      }

      &:nth-of-type(4) {
        background-position: -105px 0px;
      }

      &:nth-of-type(5) {
        background-position: -140px 0px;
      }

      &:nth-of-type(6) {
        background-position: -175px 0px;
      }

      &:nth-of-type(7) {
        background-position: -210px 0px;
      }
    }

    img {
      width: 75px;
      height: 75px;
    }
  }

  .footer-list-3 {
    height: 200px;
    padding-left: 32px;

    .footer-link-group {
      margin: 20px 0 40px;
    }

    a,
    p {
      color: #fff;
    }

    p{
      line-height: 1.5;
    }

    a {
      font-size: 18px;
      font-weight: bold;
    }
  }


}
